[Unit]
Description=Create unix domain socket to get data from rsyslogd and send it to NATS 

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/rslg-to-nats

[Install]
WantedBy=multi-user.target

